<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">EPIMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true">

  <div id="container"><br>
    <p style="color: black;"> <b> User Registration </b></p>
     <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name="firstName" [(ngModel)]="firstName"></ion-input> <!-- oninput="handleFirstNameValue(event)" -->
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Middle Name</ion-label>
            <ion-input required type="text" name="middleName" [(ngModel)]="middleName" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name </ion-label>
            <ion-input required type="text" name="lastName" [(ngModel)]="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Date of Birth <ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime required type="text" name="dob" [(ngModel)]="dob"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Mobile <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name="mobile" [(ngModel)]="mobile"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" name="password" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" >Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea name="address" [(ngModel)]="address"></ion-textarea>
          </ion-item>
        
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="button" class="ion-no-margin" (click)="processForm(event)">Register</ion-button>
        </div>
      </form>
    <p routerLink="/login" routerDirection="root">Go To <a target="_blank" rel="noopener noreferrer" href="#" >Login</a></p>
  </div>

</ion-content>
