<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>EPIMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../../assets/Images/logo.jpg" alt="">
     <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
        
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="button" class="ion-no-margin" (click)="processForm(event)">Login</ion-button>
        </div>
      </form>
    <p routerLink="/registration" routerDirection="root">New User <a target="_blank" rel="noopener noreferrer" href="#" >Register</a></p>
  </div>

</ion-content>
